body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
    color: white;
}

h2 {
    color: white;
    font-family: 'Montserrat';
    font-size: 1.5;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #a8d0e6;
}

/* Navigation Bar */

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', bold;
    font-size: 2.5rem;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #f76c6c;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #24305e;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #a8d0e6;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-control {
    background-color: #a8d0e6;
    border: 0px;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

/* Press */

#press {
    background-color: #a8d0e6;
    text-align: center;
}

.press-logo {
    width: 8%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
    background-color: #fff;
}

.pricing-header {
    color: black;
}

.pricing-column {
    padding: 3% 2%;
}

.card:hover {
    transform: scale(1.1);
}

/* Call to Action */

#cta {
    background-color: #a8d0e6;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

/* Media Queries */

@media (max-width: 1028px){
    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0deg);
    }
}

/* COGS3 studyBuddy specific styles go here. */